body {
  font-family: "Inter";
  font-size: 16px;

  background-color: #f1f1f1;
  overflow-x: hidden;
}

p {
  font-size: var(--p-size);
  line-height: var(--p-line-height);
  color: rgba($color: #000000, $alpha: 0.9);
}

a {
  font-size: inherit;
  color: var(--color-nutmeg);
}

h1 {
  font-weight: 700;
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  color: var(--color-nutmeg);
}

h2 {
  font-weight: 700;
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}

h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}

image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 40px;

  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: transparent;
  border: 2px solid rgba(166, 47, 47, 0.8);
  border-radius: 6px;

  cursor: pointer;
}

.btn.btn-brown__fill {
  color: white;
  background-color: var(--color-nutmeg);
}

.btn.btn-white {
  color: white;
  border-color: white;
}

input {
}

textarea {
}

.btn-slider {
}

.btn-slider_prev {
}

.btn-slider__next {
}

ol {
  counter-reset: myCounter;

  li {
    list-style: none;
    margin-bottom: 10px;
  }

  li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: var(--color-nutmeg);
    display: inline-block;
    margin-right: 10px;
  }
}
