@import url(./../lib/style/reset.css);

@import url(./fonts.css);
@import url(./variables.css);
@import url(./generic.css);

@import url(./components/header.css);
@import url(./components/modal.css);
@import url(./components/first_slide.css);
@import url(./components/fast_help.css);
@import url(./components/about.css);
@import url(./components/cards.css);
@import url(./components/how_help.css);
@import url(./components/you_need_help.css);
@import url(./components/faq.css);
@import url(./components/footer.css);
@import url(./components/we_help_page.css);
@import url(./components/pages.css);

.documents-wrapper {
  margin-top: 80px;

  ul {
    margin-left: 10px;
    margin-top: 15px;
  }

  li a {
    display: flex;
    margin: 7px 0 8px;
  }

  i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url(./../images/icons-pdf.jpg);
    margin-right: 5px;
    margin-top: 2px;
  }
}
