div(class="about section-wrapper" id="about")
  section
    div(class="about_column-left")
      h2 О фонде
      h3 Помогаем погорельцам
      p Пожары —  самый разрушительный вид чрезвычайной ситуации. Люди в одночасье теряют имущество, жильё, документы. Погорельцы страдают и физически: получают ожоги, становятся инвалидами. В огне пожара гибнут взрослые и дети.
      p В среднем, по данным МЧС России, ежегодно регистрируется около 150.000 пожаров, прямой материальный ущерб от которых оценивается государством в размере около 20.000.000.000 рублей. На пожарах в России ежегодно погибает около 10.000 человек.
      p Пожары —  самый разрушительный вид чрезвычайной ситуации. Люди в одночасье теряют имущество, жильё, документы. Погорельцы страдают и физически: получают ожоги, становятся инвалидами. В огне пожара гибнут взрослые и дети.
      p В среднем, по данным МЧС России, ежегодно регистрируется около 150.000 пожаров, прямой материальный ущерб от которых оценивается государством в размере около 20.000.000.000 рублей. На пожарах в России ежегодно погибает около 10.000 человек.
      span(class="about_open" onclick="diplay_hide('.about_column-left p')") подробнее
    div(class="about_column-right")
      h2 Наши задачи
      ol 
        li Юридическая консультация
        li Психологическая поддержка
        li Материальная помощь
        li Консультация по госпитализации в медицинские учреждения
        li Адресный денежный сбор 
      div(class="about_btn-wrapper")
        a(class="btn") Стать волонтером
        span или
        a(class="btn") Стать партнером