article(class="adress-help_article--index-desktop")
  div(class="adress-help__image")
    img(src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="")
  div(class="adress-help__info")
    div(class="adress-help__text")
      div(class="adress-help__text-header")
        h3 Семья таких-то
        span г. Москва
      div(class="adress-help__text-body")
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
    div(class="adress-help__line-wrapper")
      p Мы собрали:
      div(class="adress-help__line")
        div(class="adress-help__line-thin")
        div(class="adress-help__line-bold")
        div(class="adress-help__line-rectangle") 1000₽
      div(class="adress-help__line-info")
        p 0₽
        p 100 000₽
    div(class="adress-help__btn-wrapper")
      a(href="#" class="btn btn-brown__fill") Помочь
      a(href="#" class="btn") Подробнее