div(class="command section-wrapper")
  section
    div(class="header-slider")
      div
        h2 Наша команда
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров
      div(class="navigation-slider-wrapper")
        div(class="navigation-slider-prev command-prev")
        div(class="navigation-slider-next command-next")
    div(class="command_body")
      div(class="swiper-wrapper")
        - for (var x = 0; x < 5; x++)
          div(class="swiper-slide")
            div(class="command-article")
              div(class="command-image")
                img(src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="")
              div(class="command-info")
                h3 Иванов Иван
                p Организатор
        div(class="swiper-slide")
          div(class="command-article_form")
            h3 Хотите стать участником команды или волонтером?
            form
              label
                input(type="text" data-type="text" placeholder="ФИО") 
              label
                input(type="text" placeholder="Номер телефона") 
              label
                input(type="submit" class="btn btn-white" value="Я хочу помочь") 
                p(class="policy") Я согласен с 
                  a(href="#") политикой конфиденциальности	


    div(class="footer-slider")
      div(class="navigation-slider-wrapper")
        div(class="navigation-slider-prev command-prev")
        div(class="navigation-slider-next command-next")