header
  div(class="header")
    section 
      a(class="logo" href="#")
        img(src="./assets/images/svg/Logo.svg" alt="" srcset="")
      div(class="header-right")
        div(class="header-right__desktop")

          ul(class="socials")
            li
              a(href="#" class="mail")
            li
              a(href="#" class="telegram")
            li
              a(href="#" class="whatsapp")
            li
              a(href="#" class="vk")

          div(class="socials-connection")
            a(href="tel:#") +7 999 999 99 99
            a(href="mailto:#") info@arkonfond.ru

          ul(class="header-helpers")
            li Хочу помочь
            li Нужна помощь
        div(id="burger") меню