div(class="modal-wrapper")
  div(class="modal")
    div
      div(class="modal_header")
        div Меню
        i(class="modal-close") 
      div(class="modal_body")
      a(href="#" class="btn btn-white") Нужна помощь
      div(class="modal-body__wrapper")
        div(class="modal-body__column-left") 
          ul
            li
              a(href="") Главная
            li
              a(href="") О фонде
            li
              a(href="") Стать волонтером
            li
              a(href="") Проекты в работе
            li
              a(href="") Завершенные проекты
            li
              a(href="") Партнерство
            li
              a(href="") Бизнесу
            li
              a(href="") Отчеты
            li
              a(href="") Новости
            li
              a(href="") Контакты

        div(class="modal-body__column-right") 
          ul(class="socials")
            li
              a(href="#" class="mail")
            li
              a(href="#" class="telegram")
            li
              a(href="#" class="whatsapp")
            li
              a(href="#" class="vk")

          div(class="socials-connection")
            a(href="tel:#") +7 999 999 99 99
            a(href="mailto:#") info@arkonfond.ru

    div(class="modal_footer")
      p Фонд святого Арсения Коневского©2023. Все права защищены
      div 
        a(href="#") Политика конфиденциальности
        a(href="https://kernel-studio.com/") Сайт сделан в KERNEL-STUDIO