.adress-help_body,
.adress-help,
.we-help_body,
.we-help {
  overflow-x: hidden;
}

.adress-help_body .adress-help_article {
  display: none;
}
.adress-help_body .adress-help_article--index-desktop {
  display: flex;
}

.adress-help section > a.btn,
.we-help section > a.btn {
  margin-top: 50px;
  padding: 14px 44px;
}

@media screen and (max-width: 1000px) {
  .adress-help_body .adress-help_article {
    display: block;
  }
  .adress-help_body .adress-help_article--index-desktop {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .adress-help section > a.btn {
    width: 100%;
    padding: 14px 0px;
  }
}
