.adress-help_article--index-desktop {
  width: 100%;
  height: 400px;
  background: #ffffff;
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
  display: flex;

  .adress-help__image {
    height: 100%;
    min-width: 495px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .adress-help__info {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
  }

  .adress-help__text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-nutmeg);
    }
  }

  .adress-help__text-body {
    height: 95px;
    overflow: hidden;
  }

  .adress-help__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    a {
      width: 48%;
      padding: 14px;
    }
  }
}

.adress-help__line-wrapper {
  margin-top: 15px;

  & > p {
    font-weight: 500;
    margin-bottom: 23px;
  }
}

.adress-help__line {
  position: relative;
  width: 100%;
}

.adress-help__line-thin {
  border: 1.5px solid var(--color-nutmeg);
  border-radius: 6px;
}

.adress-help__line-bold {
  position: absolute;
  top: -2px;
  left: 0;
  width: 10%;
  height: 6px;
  border-radius: 6px 0 0 6px;
  background-color: var(--color-nutmeg);
}

.adress-help__line-rectangle {
  position: absolute;
  left: 10%;
  top: -13px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(166, 47, 47, 0.9);
  background-color: #ffffff;
  padding: 4px 8px;
  border: 1px solid var(--color-nutmeg);
  border-radius: 6px;
}

.adress-help__line-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  p {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-nutmeg);
  }
}

.adress-help_article {
  background: #ffffff;
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;

  .adress-help_image {
    height: 240px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .adress-help_info {
    padding: 20px 15px 35px;

    & > p {
      max-height: 95px;
      margin: 15px 0 10px;
      overflow: hidden;
    }
  }

  ul {
    margin-top: 15px;
  }

  li {
    margin-top: 5px;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    div {
      width: 150px;
      color: var(--color-nutmeg);
    }
  }

  .adress-help_btn-wrapper {
    margin-top: 20px;

    a {
      width: 100%;
      padding: 14px 20px;
    }
    :first-child {
      margin-bottom: 15px;
    }
  }
}

.command-article {
  background: #ffffff;
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;

  .command-image {
    height: 450px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .command-info {
    padding: 20px;

    h3 {
      margin-bottom: 4px;
    }
  }
}

.command-article_form {
  height: 100%;
  padding: 55px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, #7f4229 7.64%, #8d4931 92.08%);
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  h3 {
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
  }

  label {
    display: inline-block;
    width: 100%;

    input[type="text"] {
      margin-bottom: 40px;
    }

    input {
      width: 100%;
    }
  }

  .policy {
    margin-top: 10px;
    color: white;
    font-size: 11px;

    a {
      color: white;
    }
  }
}

.block-blog_article {
  padding: 40px 20px;
  background: #ffffff;
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  p {
    position: relative;
    margin: 20px 0 30px;
    height: 95px;
    overflow: hidden;
  }

  a.btn {
    width: 100%;
    padding: 14px;
  }
}

.partner-article {
  padding: 40px 20px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .adress-help_article .adress-help_image {
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .adress-help_article .adress-help_image {
    height: 160px;
  }
  .adress-help_article .adress-help_info > p {
    display: none;
  }
}

.otchet-article {
  background-color: white;
  box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 25px 20px;

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-weight: 500;
    margin: 5px 0 10px;
  }

  a {
    display: block;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    background-image: url(./../../images/icons-pdf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #7f4229;
    box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.15);
  }
}

.gallery-article {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background-color: white;

  .image-wrapper {
    display: block;
    width: 100%;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-article_info {
    padding: 25px 20px;

    h3 {
      color: rgba($color: #000000, $alpha: 0.9);
    }
  }
}
