footer {
  color: white;
  padding: 85px 0 65px;
  background: linear-gradient(90deg, #7f4229 7.64%, #8d4931 92.08%);
}
footer .footer_column {
  display: flex;
  justify-content: space-between;
}
footer .footer_column-left {
  width: 55%;
}
footer .footer_column-left > p {
  color: white;
  margin-top: 10px;
}
footer .footer_column-left > ul {
  margin-top: 15px;
}
footer .footer_column-left_colums {
  display: flex;
  margin-top: 50px;
}
footer .footer_column-left_colums > div {
  width: 49%;
}
footer .footer_column-left_colums-right > p:last-child {
  margin-top: 10px;
}
footer .footer_column-left_colums-right .header-right__desktop {
  margin-bottom: 40px;
  flex-direction: column;
  align-items: baseline;
}
footer .footer_column-left_colums-right .header-right__desktop .socials-connection {
  margin-top: 10px;
}
footer .footer_column-left_colums-right .header-right__desktop .socials-connection a {
  color: white;
}
footer .footer_column-left_colums-right p {
  color: white;
}
footer nav li {
  margin-bottom: 10px;
}
footer nav li a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
footer .footer_column-right {
  width: 40%;
}
footer .footer_column-right > p {
  margin-top: 35px;
  font-weight: 500;
  font-size: 19px;
  color: #ffffff;
}
footer .footer_column-right > p br {
  display: none;
}
footer .footer_column-right > p a {
  color: #ffffff;
  text-decoration: underline;
}
footer form label {
  width: 100%;
}
footer form label input {
  width: 100%;
}
footer form label input[type=text] {
  margin-bottom: 30px;
}
footer .policy {
  color: white;
  margin-top: 5px;
  font-size: 11px;
}
footer .policy a {
  color: white;
  opacity: 0.8;
  text-decoration: underline;
}
footer .footer_column-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
footer .footer_column-bottom .footer_column-left {
  width: 55%;
}
footer .footer_column-bottom .footer_column-right {
  width: 40%;
  display: flex;
  align-items: baseline;
}
footer .footer_column-bottom p,
footer .footer_column-bottom a {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
}
footer .footer_column-bottom #kernel {
  margin-left: 15%;
}
footer .footer_column-bottom #kernel a {
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  footer .footer_column {
    flex-direction: column;
  }
  footer .footer_column-left {
    width: 100%;
  }
  footer .footer_column-right {
    width: 100%;
    margin-top: 80px;
  }
  footer .footer_column-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer_column-bottom .footer_column-left,
  footer .footer_column-bottom .footer_column-right {
    width: 100%;
  }
  footer .footer_column-bottom .footer_column-right {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .footer .footer_column-left_colums {
    flex-direction: column;
  }
  .footer .footer_column-left_colums .footer_column-left_colums-left {
    width: 100%;
  }
  .footer .footer_column-left_colums .footer_column-left_colums-right {
    width: 100%;
    margin-top: 50px;
  }
  footer nav li {
    margin-bottom: 15px;
  }
  footer nav li a {
    font-size: 26px;
  }
  footer .label-input-number ul {
    display: none;
  }
  footer .footer_column-bottom .footer_column-right {
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_column-bottom #kernel {
    margin-left: 0;
    margin-top: 15px;
  }
  footer .footer_column-right > p {
    text-align: center;
  }
  footer .footer_column-right > p br {
    display: block;
  }
}/*# sourceMappingURL=footer.css.map */