.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(241, 241, 241, 0.8);
  overflow: hidden;
  z-index: 15;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 580px;
  width: 100%;
  background-color: var(--color-nutmeg);
  color: white;
  padding: 35px 40px;
  height: 100vh;
  overflow-y: scroll;
  transition: 0.3s;
  transition-delay: 0.2s;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a.btn {
    width: 100%;
  }
}

.modal-wrapper.active .modal {
  transform: translateX(0);
}

.modal a {
  color: white;
}

.modal_header {
  font-size: 32px;
  padding-bottom: 35px;
  margin-bottom: 38px;
  border-bottom: 1px solid white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .modal-close {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../images/svg/close.svg);
    cursor: pointer;
  }
}

.modal-body__wrapper {
  margin-top: 38px;
  display: flex;

  & > * {
    width: 50%;
  }

  .modal-body__column-left li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .socials-connection {
    margin-top: 10px;
  }
}

.modal_footer {
  max-width: 395px;
  text-align: center;
  margin: 0 auto;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  & a,
  & p {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 550px) {
  .modal {
    padding: 25px 20px;
  }
  .modal_header {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .modal-body__wrapper {
    flex-direction: column;
    margin-top: 30px;

    & > * {
      width: 100%;
    }
  }

  .modal-body__column-right {
    margin: 30px 0;
  }

  .modal_footer {
    & > div {
      flex-direction: column;

      a:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

.popup-form_wrapper-thanks {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background: rgba(241, 241, 241, 0.8);
  display: none;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  .popup-form-thanks {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 65px 35px;
    background: var(--color-nutmed-linear);
    text-align: center;
    color: white;
    box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

    .modal-close {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(./../../images/svg/close.svg);
      cursor: pointer;

      position: absolute;
      top: 20px;
      right: 20px;
    }

    p {
      color: white;
      margin-top: 5px;
    }
  }
}
