main.about-main .first-slide-wrapper_info {
  z-index: 2;
  width: 100%;
}
main.about-main .first-slide-wrapper_info h1 {
  position: relative;
  z-index: 2;
}
main.about-main .first-slide-wrapper_info p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
main.about-main .first-slide-wrapper_img {
  width: 445px;
}

.first-slide-short {
  margin-top: 30vh;
}

@media screen and (max-width: 700px) {
  .first-slide-short {
    margin-top: 20vh;
  }
}
main.contacts-main + .footer {
  padding-top: 0 !important;
}

.contacts-info section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.contacts-info section .socials-connection {
  margin: 20px 0;
}
.contacts-info section > div {
  width: 49%;
}
.contacts-info section li {
  margin-bottom: 5px;
}
.contacts-info section p {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .contacts-info section {
    flex-direction: column;
  }
  .contacts-info section > div {
    width: 100%;
  }
  .contacts-info section .contacts-info_column-left {
    margin-bottom: 40px;
  }
}
.partners-footer {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .partners-footer a.btn {
    width: 100%;
  }
}
.otchet-wrapper_header {
  margin-bottom: 30px;
}
.otchet-wrapper_header h2 {
  font-size: 40px;
  line-height: 48px;
  color: #7f4229;
}

.otchet-wrapper_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 1100px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(1, 1fr);
  }
}
.galerry-line {
  padding: 35px 0;
}
.galerry-line div {
  height: 2px;
  background: rgba(127, 66, 41, 0.6);
  border-radius: 4px;
}

.galerry-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.galerry-body .gallery-article {
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.15);
}
.galerry-body .gallery-article .image-wrapper {
  height: 200px;
}

@media screen and (max-width: 900px) {
  .galerry-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .galerry-body {
    grid-template-columns: repeat(1, 1fr);
  }
}
.do_help_form-main .first-slide-short p {
  max-width: 570px;
  margin-top: 5px;
}
.do_help_form-main .first-slide-short_wrapper1 {
  margin-top: 100px;
}
.do_help_form-main .first-slide-short_wrapper1 section > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
  color: #000000;
}
.do_help_form-main .first-slide-short_wrapper1 section .nice-select {
  margin-bottom: 50px;
}
.do_help_form-main .first-slide-short_wrapper2 h2 {
  margin: 100px 0 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.do_help_form-main .first-slide-short_wrapper2 input,
.do_help_form-main .first-slide-short_wrapper2 textarea {
  border: 2px solid #a62f2f;
  border-radius: 6px;
}
.do_help_form-main .first-slide-short_wrapper2 input[type=submit] {
  color: #7f4229;
  margin-top: 30px;
}
.do_help_form-main .first-slide-short_wrapper2 textarea {
  height: 200px;
  resize: none;
}
.do_help_form-main .first-slide-short_wrapper2 .form-do_help-header {
  display: flex;
  margin-bottom: 30px;
}
.do_help_form-main .first-slide-short_wrapper2 .form-do_help-header label {
  margin-right: 30px;
  width: 100%;
}
.do_help_form-main .first-slide-short_wrapper2 .form-do_help-header label:last-child {
  margin-right: 0;
}

.nice-select {
  height: auto;
  padding: 18px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  max-width: 350px;
  background: #ffffff;
  border: 2px solid #7f4229;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  float: initial;
}

@media screen and (max-width: 850px) {
  .do_help_form-main .first-slide-short_wrapper2 .form-do_help-header {
    flex-direction: column;
    margin-bottom: 0;
  }
  .do_help_form-main .first-slide-short_wrapper2 .form-do_help-header label {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .do_help_form-main .first-slide-short_wrapper2 input[type=submit] {
    width: 100%;
  }
}/*# sourceMappingURL=pages.css.map */