main.about-main {
  .first-slide-wrapper_info {
    z-index: 2;
    width: 100%;

    h1 {
      position: relative;
      z-index: 2;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .first-slide-wrapper_img {
    width: 445px;
  }
}

.first-slide-short {
  margin-top: 30vh;
}

@media screen and (max-width: 700px) {
  .first-slide-short {
    margin-top: 20vh;
  }
}

main.contacts-main + .footer {
  padding-top: 0 !important;
}

.contacts-info section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .socials-connection {
    margin: 20px 0;
  }

  & > div {
    width: 49%;
  }

  li {
    margin-bottom: 5px;
  }
  p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .contacts-info section {
    flex-direction: column;

    & > div {
      width: 100%;
    }

    .contacts-info_column-left {
      margin-bottom: 40px;
    }
  }
}

.partners-footer {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .partners-footer a.btn {
    width: 100%;
  }
}

.otchet-wrapper_header {
  margin-bottom: 30px;

  h2 {
    font-size: 40px;
    line-height: 48px;
    color: #7f4229;
  }
}

.otchet-wrapper_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 1100px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .otchet-wrapper_body {
    grid-template-columns: repeat(1, 1fr);
  }
}

.galerry-line {
  padding: 35px 0;

  div {
    height: 2px;
    background: rgba(127, 66, 41, 0.6);
    border-radius: 4px;
  }
}

.galerry-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  .gallery-article {
    box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.15);

    .image-wrapper {
      height: 200px;
    }
  }
}

@media screen and (max-width: 900px) {
  .galerry-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .galerry-body {
    grid-template-columns: repeat(1, 1fr);
  }
}

.do_help_form-main {
  .first-slide-short p {
    max-width: 570px;
    margin-top: 5px;
  }

  .first-slide-short_wrapper1 {
    margin-top: 100px;
    section {
      & > p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 6px;
        color: #000000;
      }

      .nice-select {
        margin-bottom: 50px;
      }
    }
  }

  .first-slide-short_wrapper2 {
    h2 {
      margin: 100px 0 60px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }

    input,
    textarea {
      border: 2px solid #a62f2f;
      border-radius: 6px;
    }

    input[type="submit"] {
      color: #7f4229;
      margin-top: 30px;
    }

    textarea {
      height: 200px;
      resize: none;
    }

    .form-do_help-header {
      display: flex;
      margin-bottom: 30px;

      label {
        margin-right: 30px;
        width: 100%;
      }
      label:last-child {
        margin-right: 0;
      }
    }
  }
}

.nice-select {
  height: auto;
  padding: 18px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  max-width: 350px;
  background: #ffffff;
  border: 2px solid #7f4229;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  float: initial;
}

@media screen and (max-width: 850px) {
  .do_help_form-main .first-slide-short_wrapper2 .form-do_help-header {
    flex-direction: column;
    margin-bottom: 0;
    label {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 550px) {
  .do_help_form-main .first-slide-short_wrapper2 input[type="submit"] {
    width: 100%;
  }
}

.documents-wrapper {
  margin-top: 80px;
}
.documents-wrapper ul {
  margin-left: 10px;
  margin-top: 15px;
}
.documents-wrapper li a {
  display: flex;
  margin: 7px 0 8px;
}
.documents-wrapper i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url(./../images/icons-pdf.jpg);
  margin-right: 5px;
  margin-top: 2px;
}

.blag-section {
  margin-top: 80px;
}
