html(lang="en")
  head
    include modules/head

    title О нас
  body
    include modules/header
    main(class="about-main")

      div(class="first-slide-wrapper")
        section 
          div(class="first-slide-wrapper_info")
            h1 “И если ваше сердце горит любовью —<br>  присоединяйтесь к нам!”
            div(class="first-slide-wrapper_img")
              img(src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="")
            p священник Андрей Гребенюк

      include modules/about

      include modules/how_help
      include modules/you_need_help
      include modules/command
      include modules/we_help
      include modules/you_need_help
      include modules/block_blog


    include modules/footer