html(lang="en")
  head
    include modules/head

    title Контакты
  body
    include modules/header
    main(class="contacts-main")

      section(class="first-slide-short")
        h1 Контакты

      div(class="contacts-info")
        section 
          div(class="contacts-info_column-left")
            div(class="header-right__desktop")
              ul(class="socials")
                li
                  a(href="#" class="mail")
                li
                  a(href="#" class="telegram")
                li
                  a(href="#" class="whatsapp")
                li
                  a(href="#" class="vk")
            div(class="socials-connection")
              a(href="tel:#") +7 999 999 99 99
              a(href="mailto:#") info@arkonfond.ru

            p Православная Местная Религиозная ОРГАНИЗАЦИЯ ПРИХОД ХРАМА СМОЛЕНской ИКОНЫ Божией Матери Д. ЛЕСКоловт Выборгской Епархии Русской Православной Церкви (Московский Патриархат)

            p РФ, 188668, ЛО, Всеволожский район, д. Лесколово, Красноборская ул. 4Б. 

          div(class="contacts-info_column-right")
            ul 
              li Номер счёта: 40703810332260000125
              li Валюта: RUR
              li Название: ПРАВ МЕСТ РЕЛ ОРГ ПРИХ ХРАМА СМОЛ ИКОНЫ БОЖ МАТ Д. ЛЕСКОЛОВО ВЫБОРГ ЕПАР РУС ПРАВОС ЦЕРК (МОСК ПАТР)
              li ИНН: 4703119896
              li КПП: 470301001
              li Банк: ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"
              li БИК: 044030786
              li Кор. счёт : 30101810600000000786
              li Адрес получателя: улица Красноборская, д. Д.4Б, Ленинградская область, р-н Всеволожский, деревня Лесколово

              p В назначении платежа пишем "благотворительное пожертвование" НДС не облагается. 


      div(class="section-wrapper")
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a href="https://yandex.ru/maps/10174/saint-petersburg-and-leningrad-oblast/house/krasnoborskaya_ulitsa_4b/Z0kYcgJpQEMAQFhqfX52cHlmYg==/?ll=30.461222%2C60.271409&utm_medium=mapframe&utm_source=maps&z=16.77" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.461222%2C60.271409&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTMyOTA5NTgzEukB0KDQvtGB0YHQuNGPLCDQm9C10L3QuNC90LPRgNCw0LTRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0JLRgdC10LLQvtC70L7QttGB0LrQuNC5INGA0LDQudC-0L0sINCb0LXRgdC60L7Qu9C-0LLRgdC60L7QtSDRgdC10LvRjNGB0LrQvtC1INC_0L7RgdC10LvQtdC90LjQtSwg0LTQtdGA0LXQstC90Y8g0JvQtdGB0LrQvtC70L7QstC-LCDQmtGA0LDRgdC90L7QsdC-0YDRgdC60LDRjyDRg9C70LjRhtCwLCA00LEiCg0CrvNBFRMWcUI%2C&z=16.77" width="100%" height="650" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

    include modules/footer