doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" href="./assets/lib/style/swiper.css")
		link(rel="stylesheet" href="./assets/style/main.css")

		title Document
	body
		include modules/header
		main
			div(class="first-slide")
				section
					div(class="first-slide_content")
						h1 Фонд помощи пострадавшим от пожара или стихийных бедствий
						p Первый в России специализированный фонд помощи погорельцам под учредительством РПЦ
						a(href="#" class="btn") Подробнее о фонде
					div(class="first-slide_slider")
						div(class="first-slide_swiper")
							div(class="swiper-wrapper")
								- for (var x = 0; x < 5; x++)
									article(class="swiper-slide") 
										a(href="#")
											div(class="first-slide_swiper-header") 
												h3 Семья таких
												p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
											div(class="first-slide_swiper-image")
												img(src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="") 
						div(class="first-slide_swiper-pagination swiper_pagination")
					div(class="first-slide_images")
						div(class="blur")
						img(src="./assets/images/first-slide-image.png")

			include modules/fast_help
			include modules/about

			div(class="adress-help section-wrapper")
				section
					div(class="header-slider")
						div
							h2 Адресная помощь
						div(class="navigation-slider-wrapper")
							div(class="navigation-slider-prev adress-help-prev")
							div(class="navigation-slider-next adress-help-next")
					div(class="adress-help_body")
						div(class="swiper-wrapper")
							- for (var x = 0; x < 5; x++)
								div(class="swiper-slide")
									include modules/card_need_help_index
									include modules/card_need_help
					div(class="footer-slider")
						div(class="navigation-slider-wrapper")
							div(class="navigation-slider-prev adress-help-prev")
							div(class="navigation-slider-next adress-help-next")
					a(href="#" class="btn") Посмотреть всех

			include modules/how_help

			div(class="we-help section-wrapper")
				section
					div(class="header-slider")
						div
							h2 Вы им помогли
							p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров
						div(class="navigation-slider-wrapper")
							div(class="navigation-slider-prev we-help-prev")
							div(class="navigation-slider-next we-help-next")
					div(class="we-help_body")
						div(class="swiper-wrapper")
							- for (var x = 0; x < 5; x++)
								div(class="swiper-slide")
									article(class="adress-help_article")
										div(class="adress-help_image")
											img(src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200" alt="")
										div(class="adress-help_info")
											h3 Семья таких-то
											p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
											div(class="adress-help_btn-wrapper")
												a(href="#" class="btn") История помощи

					div(class="footer-slider")
						div(class="navigation-slider-wrapper")
							div(class="navigation-slider-prev we-help-prev")
							div(class="navigation-slider-next we-help-next")
					a(href="#" class="btn") Посмотреть всех

		include modules/modal

		script(src="./assets/lib/scripts/jquery.js") 
		script(src="./assets/lib/scripts/swiper.js") 
		script(src="./assets/scripts/sliders.js") 
		script(src="./assets/scripts/main.js") 